*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.log
*-audit.json
.DS_Store
.idea

.project
.strong-pm
coverage
node_modules
npm-debug.log
/server/datasources.development.json
/dist
/package-lock.json
/uploads/*

.env
.env.local
.env.development
.env.production